<div ng-controller="PernambucanasCrtl" layout-fill layout="column" style="height:100%;" >
  <md-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()" >
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <h2>
          <span>Catálogo Eletrônico</span>
        </h2>
      </div>
    </md-toolbar>
  <md-content> 
  <section layout="row" layout-fill flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z5" md-component-id="left"  >
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Categorias</h1>
      </md-toolbar>
      <md-content layout-padding ng-controller="LeftCtrl">
        <p hide-md show-gt-md>
          CATEGORIAS!
        </p>
         <md-button ng-click="close()" class="md-primary" hide-gt-md>
          Fechar
        </md-button>
      </md-content>
    </md-sidenav>
    <md-content flex layout-padding>
      <div layout="column" layout-fill layout-align="top center">
        <p>
        The left sidenav will 'lock open' on a medium (>=960px wide) device.
        </p>
        <p>
        The right sidenav will focus on a specific child element.
        </p>
        <div>
          <md-button 
            class="md-primary" hide-gt-md>
            Toggle left
          </md-button>
        </div>
        
    </md-content>
  </section>
</div>